.feedbackPopup {

        height: 100px;
    position: absolute;
    top: 10%;
    left: 65%;
    transform: translate(-50%, -50%);
   
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    width: 50%;
    max-width: 400px;
    text-align: center;
}

.feedbackBtn{
    top: 50%;
    position: absolute;
}
.feedbackQuestion{list-style-type: none;}
