
.modal-header {
    display: flex;
   justify-content: space-between;
    /* padding: 10px; */
    border-bottom: 1px solid #ddd;
  }
  .modal-header .modal-title{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* .modal-close-button {
    background-color: white;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    float: right;
    
  }
  
  .modal-close-button:hover {
    color: #666;
  } */

  .modal-close-button {
   
    background: "linear-gradient(to bottom, #000000, #333333)";
            border: "1px solid #ddd";
            border-radius: "10px";
            padding: 4px 15px;
            font-size: 26px;
    cursor: pointer;
    float: right;
    color  :#FFF;
    margin-top:-28px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
  }
  
  .modal-close-button:hover {
    background: "linear-gradient(to bottom, #dedede, #dedede)";
    border: "1px solid #ddd";
    border-radius: "10px";
  }
  
  .modal-close-button:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .modal-close-button:active {
    transform: scale(0.9);
  }

  .react-modal{
    height:516px;
  }
  .px-4.desc{

    padding-left: 0.3rem;
    padding-right:0;
    

  }
  .desc textarea
  {
    border: none;
    height: 74px;
    overflow-y: auto;
    padding-top: 1.5rem;
    padding-left: 0.8rem;
    resize: none;
  }

  .desc textarea::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa; /* or add it to the track */
  }